*{
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn, 
.btn:active, 
.btn:focus {
    outline: none;
}
section{
    background: url(src/background21.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
input[type="text"], textarea{
    background: #fff;
    width: 300px;
}
form{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.btn{
    width: 150px;
    height: 40px;
    background: #F5DEB3;
    border: none;
    cursor: pointer;
}
h1{
    text-align: center;
    color: #CD853F;
    font-size: 50px;
}
h2{
    font-size: 40px;
    color:#778899;
    margin-top: 50px;
}
.info{
    height: 500px;
}
